<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Slotify"
        android:usesCleartextTraffic="true">

        <!-- Splash Activity -->
        <activity
            android:name="com.viplavkr.slotify.activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Slotify.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Auth Activities -->
        <activity android:name="com.viplavkr.slotify.activities.LoginActivity" />
        <activity android:name="com.viplavkr.slotify.activities.SignupActivity" />

        <!-- User Activities -->
        <activity android:name="com.viplavkr.slotify.user.activities.MainActivity" />
        <activity android:name="com.viplavkr.slotify.user.activities.SlotsActivity" />
        <activity android:name="com.viplavkr.slotify.user.activities.PaymentActivity" />
        <activity android:name="com.viplavkr.slotify.user.activities.ConfirmationActivity" />
        <activity android:name="com.viplavkr.slotify.user.activities.ScannerActivity" />

        <!-- Admin Activities -->
        <activity android:name="com.viplavkr.slotify.admin.activities.AdminDashboardActivity" />
        <activity android:name="com.viplavkr.slotify.admin.activities.LocationsManagementActivity" />
        <activity android:name="com.viplavkr.slotify.admin.activities.SlotsManagementActivity" />
        <activity android:name="com.viplavkr.slotify.admin.activities.BookingsViewActivity" />
        <activity android:name="com.viplavkr.slotify.admin.activities.RevenueActivity" />
        <activity android:name="com.viplavkr.slotify.admin.activities.UsersManagementActivity" />


    </application>

</manifest>
